flask
flask-sqlalchemy
mysql-connector-python
python-dotenv
gunicorn
flask-login
flask-migrate
flask-mail
flask-wtf
email-validator
werkzeug
sqlalchemy
python-dateutil
pandas
numpy
scikit-learn
reportlab
matplotlib
fpdf2
python-dotenv
sib-api-v3-sdk
requests
pillow
pymysql
cryptography