{% extends "base.html" %}

{% block content %}
<div class="container mt-5" style="max-width: 450px;">
    <div class="card shadow">
        <div class="card-body">
            <h3 class="text-center mb-3 text-teal-600">Reset Password</h3>

            <form method="POST">
                <label class="form-label">New Password</label>
                <input type="password" name="password" class="form-control mb-3" required>

                <button type="submit" class="btn btn-teal w-100">Reset Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}